/* Navbar.module.css */
.navbar {
  background-color: #232F3E;
  height :3rem    ;  

  padding: 10px;
  display: flex;
  flex-direction:row ;  
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.navbar a:hover {
  background-color: none;
  color: #ffffff;
  border : solid 2px #ffffff
}
ul {
  list-style-type: none ;
}
.logoContainer {
  /* Add styles for the logo container */
  flex: 1;
}

.searchContainer {
  /* Add styles for the search container */
  flex: 2;
  display: flex;
  justify-content: center;
}

.leftContainer{
  flex:3   ; 

  display : flex ; 
  flex-direction: row   ; 
  align-items: center ;
  justify-content:flex-end ; 

}
.leftContainer a {
  margin-left: 10px;
}

.logo{
  font-size: larger;
}
