.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productItem {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.productItem h2 {
  margin-top: 0;
}
h1 {
  text-align: center;
}

/* src/styles/Products.module.css */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f7eff9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius     :   10px  ; 
  transition       :   background-color 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #e2c9ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/* src/styles/Products.module.css */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters select {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

* {
  font-family: "Manrope", sans-serif;
}

.filters:focus {
  outline: none;
  border: 2px solid #ac85bf;
}




