.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  transition: background-color 0.8s ease, color 0.6s ease;
}

.productItem {
  display: flex; 
  border: 1px solid #ccc;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.imgContainer{
  width:100% ; 
  height :  100% ; 
  border-top-left-radius: 5px  ;
  border-bottom-left-radius: 5px;
  overflow: hidden  ;

}
.imgContainerDark{
  width:100% ; 
  height :  100% ; 
  border-top-left-radius: 5px  ;
  border-bottom-left-radius: 5px;
  overflow: hidden  ;

}
.infoContainer{
  display  : flex  ; 
  flex-direction: column  ;
  padding:  20px; 
  gap :  0.5 ;  

}
.btnContainer {
  display  : flex  ; 
  flex-direction: row  ;
  gap :  5px ;  
  margin-top: 20px;
}

img {
  height : 100% ; 
  width :  100%   ;  

}

.productItem h2 {
  margin-top: 0;
}
h1 {
  text-align: center;
}

/* src/styles/Products.module.css */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #f7eff9;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius     :   10px  ; 
  transition       :   background-color 0.3s ease-in-out;
}

.pagination button:hover {
  background-color: #e2c9ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/* src/styles/Products.module.css */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters select {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

* {
  font-family: "Manrope", sans-serif;
  transition: background-color 0.8s ease, color 0.3s ease;
}

.filters:focus {
  outline: none;
  border: 2px solid #ac85bf;
}

/* Dark mode styles */


.productListDark{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.8s ease, color 0.6s ease;
}
.productItemDark {
  display: flex;
  border: 1px solid #8a00ad;
  margin: 10px;
  border-radius: 5px;
  width: 30%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.8s ease, color 0.9s ease;
}
.paginationDark {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.8s ease, color 0.6s ease;
}
.paginationDark button {
  background-color: #262426;
  
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius     :   10px  ; 
  transition       :   background-color 0.8s ease;
}

.paginationDark button:hover {
  background-color: #e2c9ec;
}

.productItemDark button {
  background-color: #262426;
  
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius     :   10px  ; 
  transition       :   background-color 0.8s ease, color 0.6s ease;
}

.productItemDark button:hover {
  background-color: #e2c9ec;
}

.productItem button {
  background-color: #ffffff;
  
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius     :   10px  ; 
  transition       :   background-color 0.8s ease , color 0.3s ease;
}

.productItem button:hover {
  background-color: #e2c9ec;
}







