.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.body {
  position: relative;
}


.app {
  
  transition: background-color 0.8s ease, color 0.6s ease;
}

/* Global styles */
body.light-mode {
  background-color: #ffffff !important;
  color: #000000 !important;
}

body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

/* Button styles */
/* styles/DarkModeToggle.module.css */






